body {
    background-color: rgb(70, 70, 70);
    margin-top: 0;
}

.container {
    margin: 70px auto;
    width: 960px;
    /* background-image: url('../img/bg.jpg'); */
}

.rounded {
    padding: 7px 15px;
    font-size: 24px;
    background: radial-gradient(
        rgb(240, 240, 240),
        rgb(143, 24, 24),
        rgb(240, 240, 240)
    );
    border: solid 1px rgb(240,240,240);
    border-radius: 3px;
}

.image-card {
    width: 240px;
    height: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-right: 10px;
}

.image-card .image-card-img {
    width: 100%;
}

.image-card .title {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    padding: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.image-card .content {
    text-align: justify;
    padding: 5px 15px;
    font-weight: 500;
    /* word-wrap: break-word; */
    overflow: hidden;
}

.image-card .content i {
    font-size: 0.7em;
}

.image-card .content.more {
    font-weight: 300;
    height: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-card.card-2 {
    /* transform: 
        translate(50px, 100px) 
        rotate(90deg) 
        scale(1,1) 
        skewX(20deg); */
    /* transform: matrix( 1, 0, 0, 1, 50, 100 ); */
    /* transform: rotateX(20deg);
    transform: rotateY(30deg);
    transform: rotateZ(30deg); */
    /* transform: rotate3d(1, .5, .5, 30deg); */
    transition: all .5s;
}

/* .image-card.card-2:hover {
    transform: rotateY(180deg);
}

.image-card.card-2:hover .back {
    display: block;
    opacity: 1;
}

.image-card.card-2:hover .front {
    opacity: 0;
} */

.image-card .back {
    opacity: 0;
}

.image-card .front,
.image-card .back {
    width: 240px;
    height: 360px;
    transition: all .25s;
    position: absolute;
}

.image-card.card-2:hover img,
.image-card.card-2:hover div,
.image-card.card-2:hover p {
    transition: all .4s;
    opacity: 0;
}

/* Animációk */
.image-card .front {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: rgb(221, 180, 180);
}
@keyframes example {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: rgb(221, 180, 180);
    }
    100% {
        background-color: aqua;
    }
}

/* Töltő animáció */
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
}

.preloader-indicator {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 4px;
    left: 110%;
    background: linear-gradient(
        90deg,
        rgba(208, 213, 223, 0),
        rgba(255, 0, 0, 1),
        rgba(255, 0, 0, 1),
        rgba(208, 213, 223, 0)
    );
    animation-name: preload;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes preload {
    0% {
        left: -25%;
    }
    100% {
        left: 125%;
    }
}
